.blog {
   

    .entry-header{
        img {
            height: 300px;
        }
        h2 {
            color:$h4-color;
        }
    }

    .nav-bar{
        position:absolute;
        width:100%;
    }
    .cfs-hyperlink {
    text-decoration: none;
    font-family: $accent-font-family;
    color: $theme-orange-color;

    span {
        margin: 2%;

        &:hover {
             color: darken($theme-orange-color, 10%);
        }
    }
    }
    .site-main {
        display: flex;
        flex-wrap: wrap;
        align-self: center;
        margin: 100px auto;
        justify-content: center;
        justify-content: space-around;
       
    }
    .readmore {
        margin-left: 72%;
        margin-top: 10%;
        .hfeed {
            display: flex;
            flex-direction: column;
        }
        a {
            text-decoration: none;
            font-family: $accent-font-family;
            color: $theme-orange-color;
            &:hover {
                color: darken($theme-orange-color, 10%);
            }
        }
    }
    .entry-content {
        width: 355px;
    }
    .entry-title {
        margin: 2%;
        a {
            text-decoration: none;
            font-family: $accent-font-family;
            font-weight: 300;
            color: $theme-orange-color;
        }
    }
    .entry-content {
        p {
            font-size: 14px;
            font-family: $main-font-family;
            color: $main-body-color;
            margin: 2%;
        }
    }
    .hfeed {
        display: flex;
        flex-direction: column;
    }
}

.flexwrapper-blog {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.type-post {
    border: 1px solid #F9F9F9;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.25);
    background-color: white;
    padding-bottom: 3%;
    height: 750px;
    width: 355px;
}



.entry-meta {
    h4 {
        text-transform: uppercase;
        font-family: $main-font-family;
        color: $h4-color;
        font-weight: 200;
        margin-top: -10%;
        margin: 2%;
    }
    .byline {
        display: none;
    }
}

.entry-date {
    position: relative;
    margin-left: 2%;
    font-family: $main-font-family;
    text-transform: uppercase;
    color: $main-body-color;
}
 .press-hero{
         background-image:linear-gradient( to bottom, rgba(139, 192, 208, 0.5) 0%, rgba(139, 192, 208, 0.5) 100% ), url(../../images/booksbanner.jpg);
         height:100vh;
         background-position-y:100%;
         background-size: cover, cover;
 }

.back-top {
    font-family: $accent-font-family;
    font-weight: 200;
    text-align: center;
    text-decoration: none;
    color: $link-to-top-grey;
    display: flex;
    justify-content: center;
    &:hover {
        color: darken($link-to-top-grey, 10%);
    }
    &:visited {
        color: $link-to-top-grey;
    }
}