.page-template-page-expert {

      .homepg-bg1 {
       
        background-image: url(../../images/orange-splash.png);
        background-repeat: no-repeat;
        background-size: 100% 450px;
        background-position-y: 10%;
    }

     .homepg-bg3 {
        background-image: url(../../images/blue-splash.png);
        background-repeat: no-repeat;
        background-size: 100% 450px;
        background-position-y: 90%;
        font-family: $main-font-family;
    }

    .what-yell {
        p {
            width:500px;
            margin:50px auto;
        }
       
    }

    .yell-program {
        p{
            text-align:left;
            max-width:none;
            @include desktop{
                text-align:center;
            }
        }
        h2 {
            margin-left: 17%;
            @include desktop {
                margin-left: 0;
            }

        }
    }

    h2 {
    margin: 54px auto;
    font-size:32px;

    }
    p { 
        font-family: $main-font-family;
        margin:5%;
    }
    .expert-info {
        text-align: center;
        text-align: center;
        margin-top: 5%;
        margin: 0 auto;
        padding: 5%;
        max-width: none;

        @include desktop {
            width:60%;
        }

        p {
          
            max-width: none;
        }
    }
    .get-involved {
        width: 320px;
        height: 49px;
        background-color: $theme-orange-color;
        border-radius: 6px;
        font-size: 18px;
        font-weight: lighter;
        text-align: center;
        line-height: 22px;
        color: #FFFFFF;
        font-family: $accent-font-family;
        text-shadow: none;
        text-transform: uppercase;
        box-shadow: none;
        border: 3px solid $btn-border-color;
        margin: 4%;
        &:hover {
            border-color: $btn-border-color;
            box-shadow: none;
            background-color: darken($theme-orange-color, 10%);
        }
    }
    h1 {
        font-family: $accent-font-family;
        color: $theme-orange-color;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 24px;
        text-align: center;
    }

    h2 {
        font-family:$accent-font-family;
        font-weight:300;
        color:$theme-orange-color;
    }

    h3, h5 {
        font-family: $accent-font-family;
        font-weight:300;
        text-transform:uppercase;
        
    }

    
    ul {
        text-align: left;
        margin-left: 0;
    }
    .mentor-ul {
        margin-left: 10%;
        width: 300px;
        margin-bottom: 15%;
        font-family: $main-font-family;
    }
    @include min-desktop {
        .mentor-ul {
        margin-bottom: 8.5%;
        margin-left: 22%;
        margin-top: 13%;
            
        }
    }
    .mentor {
        width: 300px;
        margin: 0 auto;
        p {
            font-size: 12px;
            text-align: center;
            margin:5%;
        }
        h5 {
            border-bottom: 1px solid $h2-orange-color;
        }
    }
    .teacher-btn {
        width: 100%;
        height: 90px;
        background-color: #CEE0EC;
        font-size: 18px;
        font-weight: lighter;
        text-align: center;
        line-height: 22px;
        color: #FFFFFF;
        font-family: $accent-font-family;
        font-weight: 300;
        text-transform: uppercase;
        border: 1px solid $btn-border-color;
        &:hover {
            border-color: $btn-border-color;
            background-color: darken(#CEE0EC, 10%);
        }
    }
    .mentor-info {
        display: none;
        height: 850px;
        img {
            width: 300px;
            margin: 5%;
            border: 1px solid $btn-border-color;
            border-radius: 4px;
        }
        h2 {
            display:none;
            @include desktop {
            display:block;
            color: $theme-darkblue-color;
            text-transform: uppercase;
            font-size: 32px;
            border-bottom: 1px solid $border-bottom-color;
            width: 400px;
            margin: 0 auto;
            }
           
        }
        
        @include desktop {
            display: block;
            order: 0;
        }
    }
    .speaker-info {
        display: none;
        height: 850px;
        order: 1;
        h2 {
            display:none;
            @include desktop {
            display:block;
            color: $theme-darkblue-color;
            text-transform: uppercase;
            font-size: 32px;
            border-bottom: 1px solid $border-bottom-color;
            width: 400px;
            margin: 0 auto;
            }

        }
        @include desktop {
            display: block;
        }
        p {
            margin:5%;
            margin-left:15%;
            text-align:left;
            @include desktop {
             width: 400px;
             margin: 5% auto;
             margin-bottom:12%;
            }
        }
 
        ul{
            li {
            font-family:$main-font-family;

            @include desktop{
                margin-left: 60px;
                width:485px;
            }
        }
    }
}
    .mentor-btn {
        width: 100%;
        height: 90px;
        background-color: #A8C4D3;
        font-size: 18px;
        font-weight: lighter;
        text-align: center;
        line-height: 22px;
        color: #FFFFFF;
        font-family: $accent-font-family;
        font-weight: 300;
        text-transform: uppercase;
        border: 1px solid $btn-border-color;
        &:hover {
            border-color: $btn-border-color;
            background-color: darken(#A8C4D3, 10%);
        }
    }
    .speaker-btn {
        height: 90px;
        background-color: #84A4B3;
        font-size: 18px;
        font-weight: lighter;
        text-align: center;
        line-height: 22px;
        color: #FFFFFF;
        font-family: $accent-font-family;
        font-weight: 300;
        text-transform: uppercase;
        border: 1px solid $btn-border-color;
        &:hover {
            border-color: $btn-border-color;
            background-color: darken(#84A4B3, 10%);
        }
    }
    .speaker-btn,
    .mentor-btn,
    .teacher-btn {
        margin: 5px auto;
        display: flex;
        flex-direction: column;
        max-width: 400px;
        justify-content: center;

        @include desktop {
            display: none;
        }
        p, i {
            color: white;

        }
    }
}
.professional-wrapper {
    @include desktop {
        display:flex;
        justify-content:center;
    }
}
.expert-wrapper {

    

    &:first-child(1) img {
        height: 165px;
    }
    @include desktop {
        display: flex;
        // width:65%;
    
    }
}
.program-brain, .program {
    @include desktop {
    width: 60%;
    margin: 5%;
}
}
//testimonial styles ====================
.testimonial-wrapper {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin-bottom: 2%;
    margin: 0 auto;
    max-width: 345px;
}

.testimonial {
    img {
        height: 110px;
        padding: 3%;
        border-radius:15px;
    }
    width: 345px;
    height: 208px;
    background-color:#f1f1f1;
    color: $main-body-color;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin: 0 auto;
    font-family:$main-font-family;

    @include desktop {
        height:213px;
    }
    .testi-text {
       margin-top: -107px;
     padding-left: 5%;
        float: right;
        max-width:60%;
        text-align:left;
    }
}
.page-template-page-expert, {
.student-name {
    font-family: $main-font-family;
    opacity: 0.33;
    padding: 2.5%;
    margin: 33px auto;
    position: absolute;
    width: 345px;
    height: 60px;
    background-color: #d8d8d8;
    align-self: flex-end;
    border-radius: 6px;
    color: $testimonial-name-color;
}
}
.page-template-page-program {
    .testimonial {
        margin: -48px auto;

    }
    .student-name {
    font-family: $main-font-family;
    opacity: 0.33;
    padding: 2.5%;
    margin: -21px auto;
    position: relative;
    width: 345px;
    height: 70px;
    background-color: #d8d8d8;
    align-self: flex-end;
    border-radius: 6px;
    color: $testimonial-name-color;

    }
}

.testimonial-flex {
    @include min-desktop {
        display: flex;
        justify-content: space-between;
    }
}

.testimonial-wrapper3,
.testimonial-wrapper2 {
    display: none;
    @include desktop {
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        margin-bottom: 2%;
        margin: 0 auto;
        max-width: 345px;
    }
}

.program-cols {
   

    @include desktop {
    display:flex;
     justify-content:center;
    margin:0 auto;

    }

}

.program-fish{
     width:100%;
    @include desktop{
    flex-basis:30%;
    padding:2%;
}
}