/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.site-footer{

	background-color: $footer-bg-grey;
}

.footer-content {
    display: flex;
    ul {
  list-style-type: none;
  text-decoration: none;
    justify-content: flex-start;
        padding-left: 0px;
        text-align: left;

  a {
      text-decoration: none;
      color: $h2-orange-color;
      text-align: left;
      height: 19px;
    font-family: $accent-font-family;
    font-size: 14px;
    font-weight: normal;
    line-height: 2.5;
    }
}
}
 .icons {
     display: flex;
   margin-left: 150px;

        i{
        color: white;
        font-size: 34px;
        padding: 9px;

        }
        .fa {
         
        }
    }

    .footer-nav-left{
        ul{
        justify-content: flex-start;
        padding-left: 0px;
        text-align: left;
        }
    }

    .fotter-nav-right{
        ul{
        justify-content: flex-end;
        margin-right: 43px;
        padding-right: 0px;
        text-align: left;
        }
    }


.home .copyright {
    p{
        align-content: center; 
        margin-left: -300px;
            font-size: 10px;


    

}
}
@include desktop {


} 
