/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.site-footer {
	background-color: $footer-bg-grey;
}

.footer-content {
	display: flex;
	ul {
		list-style-type: none;
		text-decoration: none;
		justify-content: flex-start;
		padding-left: 0px;
		text-align: left;
		font-family: $accent-font-family;
		a {
			text-decoration: none;
			color: $h2-orange-color;
			text-align: left;
			height: 19px;
			font-family: $accent-font-family;
			font-size: 14px;
			font-weight: normal;
			line-height: 2.5;
		}
	}
}

@media screen and (max-width: 600px) {
	.footer-button {
		visibility: hidden;
	}
	.copyright-desktop {
		visibility: hidden;
	}
}

.icons {
	display: flex;
	margin-left: 125px;
	height: 65px;
	i {
		color: $h2-orange-color;
		font-size: 34px;
		padding: 9px;
	}
}


.footer-nav-left {
	ul {
		justify-content: flex-start;
		font-family: $accent-font-family;
		font-weight: lighter;
		margin-right: 28px;
		text-align: left;
	}
}

.footer-nav-right {
	ul {
		justify-content: flex-end;
		font-family: $accent-font-family;
		margin-right: 43px;
		text-align: left;
	}
}

.copy {
	display: flex;
	align-content: flex-end;
	margin-left: -140px;
	color: $h2-orange-color;
	font-size: 8px;
}

.copyright {
	height: 35px;
}

@include min-desktop {
	.site-footer {
		display: flex;
		justify-content: space-between;
	}
		.icons-block {
			align-items: flex-end;
			order: 2;
			padding-top: 3%;
			color: $h2-orange-color;
		}
		button {
			color: $h2-orange-color;
		}
		.get-involved-footer {
			background-color: transparent;
			border-color: $h2-orange-color;
			border-width: 2.3px;
			height: 2.5rem;
			width: 11rem;
			text-transform: uppercase;
			border-radius: 10px;
			margin-right: 35%;
			
           
		}


		.icons{

		}
		.footer-content {
			order: 1;
			padding-top: 3%;
		}
		.copyright {
			display: none;
		}
		.copyright-desktop {
			
							margin-right: 30%;
							padding-top: 8%;
		}

	.icons-block {
		align-items: flex-end;
		order: 2;
		padding-top: 3%;
		color: $h2-orange-color;
	}
	button {
		color: $h2-orange-color;
	}
	.get-involved-footer {
		background-color: transparent;
		border-color: $h2-orange-color;
		border-width: 2.3px;
		height: 2.5rem;
		width: 11rem;
		text-transform: uppercase;
		border-radius: 10px;
		margin-right: 35%;
	}
	.icons {
		margin-left: -30%;
	}
	.footer-content {
		order: 1;
		padding-top: 3%;
	}
	.copyright {
		display: none;
	}
	.copyright-desktop {
		margin-right: 30%;
		padding-top: 8%;
	}
}