.home {
       text-align: center;

       .testimonial-wrapper, .testimonial-wrapper2, .testimonial-wrapper3 {
           img {
        height: 275px;
        border-radius: 4%;
           }
       }
       
    .homepg-bg1 {
        background-color:  $testimonial-bg-lightgrey;
        background-image: url(../../images/orange-splash.png);
        background-repeat: no-repeat;
        background-size: 100% 350px;
        background-position-y:10%;
    }

    .homepg-bg2 {
       
        background-image: url(../../images/blue-splash.png); 
        background-repeat: no-repeat;
        background-size: 100% 350px;
        background-position-y:50%;
    }

      .homepg-bg3 {


       
        background-image: url(../../images/orange-splash2.png); 
        background-repeat: no-repeat;
        background-size: 100% 350px;
        background-position-y:90%;
    }
    

    
    h2 {
        font-family:$accent-font-family;
        color:$theme-orange-color;
        font-weight: 300;
        font-size: 36px;
    }

    h4 {
        font-family:$accent-font-family;
        color:$h4-color;
        font-size: $h4-font-size;
        font-weight: 300;
    }

    p {
        font-size: 16px;
        max-width: 80%;
        color:$main-body-color;
        margin: 0 auto;
        padding-bottom: 2%;
    }

.more-about {
width: 270px;
height: 49px;
background-color: $theme-blue-color;
border-radius: 6px;
font-size: 18px;
font-weight: lighter;
text-align: center;
line-height: 22px;
color: #FFFFFF ;
font-family: $accent-font-family;
text-shadow: none;
text-transform: uppercase;
box-shadow: none;
border: 3px solid $btn-border-color;
margin-bottom: 2%;

   &:hover{
       border-color:$btn-border-color;
       box-shadow:none;
       background-color: darken($theme-blue-color, 10%);
   }
}

.impact {

    p{
    display:flex;
    flex-direction:column;
    align-items:center;
    }

}

.chart-wrap {
    img {
        width:50%;
    }
}

.bubble-chart {
    display: flex;
    margin-left: 5%;
    width: 90%;
    align-items: center;
}


.get-involved {
width: 270px;
height: 49px;
background-color: $theme-orange-color;
border-radius: 6px;
font-size: 18px;
font-weight: lighter;
text-align: center;
line-height: 22px;
color: #FFFFFF ;
font-family: $accent-font-family;
text-shadow: none;
text-transform: uppercase;
box-shadow: none;
border: 3px solid $btn-border-color;
margin: 15%;

   &:hover{
       border-color:$btn-border-color;
       box-shadow:none;
      background-color: darken($theme-orange-color, 10%);
   }
   
}

//testimonial styles ====================

.testimonial-wrapper {
display:flex;
flex-wrap: wrap;
text-align:left;
margin-bottom: 2%;
margin: 0 auto;
max-width: 345px;

}
.testimonial {
width: 345px;
height: 209px;
background-color:#f1f1f1;
color: $main-body-color;
box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);
border-radius: 6px;
margin: 0 auto;
margin-top: 5%;
font-family:$main-font-family;

    p {
        margin-top:12px;
        padding-left:1%;
    }

}
.student-name {
font-family:$main-font-family;
opacity: 0.33;
padding: 2.5%;
margin: 0 auto;
position: absolute;
width: 345px;
height: 70px;
background-color:#d8d8d8;
align-self: flex-end;
border-radius: 6px;
color: $testimonial-name-color;
}
}



