.home {
    text-align: center;

     h2 {
        font-family: $accent-font-family;
        color: $theme-orange-color;
        border-bottom: 1px solid $border-bottom-color;
        width:350px;
        margin: 0% auto;
        font-weight: 300;
        font-size: 36px;
    }
    h4 {
        font-family: $accent-font-family;
        color: $h4-color;
        font-size: $h4-font-size;
        font-weight: 300;
    }
    p {
        font-size: 16px;
        max-width: 80%;
        color: $main-body-color;
        margin: 0 auto;
        padding-bottom: 2%;
    }
    .testimonial {
        p {
            margin-right: 14%;
        }
    }
    .testimonial-wrapper,
    .testimonial-wrapper2,
    .testimonial-wrapper3 {
        img {
            height: 275px;
            border-radius: 4%;
            margin-bottom: 10px;
        }
    }
    .homepg-bg1 {
        // background-color: rgba(242, 242, 242, .5);
        // background-image: url(../../images/orange-splash.png);
        background-repeat: no-repeat;
        background-size: 100% 350px;
        background-position-y: 10%;
    }
    .homepg-bg2 {
        background-image: url(../../images/blue-splash.png);
        background-repeat: no-repeat;
        background-size: 100% 350px;
        background-position-y: 50%;
    }
    .homepg-bg3 {
        background-image: url(../../images/orange-splash2.png);
        background-repeat: no-repeat;
        background-size: 100% 350px;
        background-position-y: 90%;
        font-family: $main-font-family;
    }
 
 }
    

 
    //===================play button and video styles=========
    #playbtn {
        border: 2px solid #fff;
        margin: 10px auto;
        height: 100px;
        width: 100px;
        text-align: center;
        border-radius: 50%;
        display: flex;
        align-items:center;
        &:hover {
            border-color: $theme-peach-color;
            i {
                color: $theme-peach-color;
            }
        }
        i {
            margin-left: 39px;
            font-size:30px;
        }
    }
   
    
    .more-about {
        width: 270px;
        height: 49px;
        background-color: $theme-blue-color;
        border-radius: 6px;
        font-size: 18px;
        font-weight: lighter;
        text-align: center;
        line-height: 22px;
        color: #FFFFFF;
        font-family: $accent-font-family;
        text-shadow: none;
        text-transform: uppercase;
        box-shadow: none;
        border: 3px solid $btn-border-color;
        margin-bottom: 2%;
     
        &:hover {
            border-color: $btn-border-color;
            box-shadow: none;
            background-color: darken($theme-blue-color, 10%);
        }
    }
    .impact {
        p {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .chart-wrap {
        img {
            width: 90%;

            @include min-desktop {
                width: 50%;
            }
        }
    }
    .bubble-chart {
        display: flex;
        margin-left: 5%;
        width: 90%;
        flex-wrap:wrap;
        align-items: center;

        @include min-desktop{
            flex-wrap: nowrap;
        }
    }
    .get-involved {
        width: 270px;
        height: 49px;
        background-color: $theme-orange-color;
        border-radius: 6px;
        font-size: 18px;
        font-weight: lighter;
        text-align: center;
        line-height: 22px;
        color: #FFFFFF;
        font-family: $accent-font-family;
        text-shadow: none;
        text-transform: uppercase;
        box-shadow: none;
        border: 3px solid $btn-border-color;
        margin: 15%;
        &:hover {
            border-color: $btn-border-color;
            box-shadow: none;
            background-color: darken($theme-orange-color, 10%);
        }
    }
    .home-hero {
        color: white;
        text-transform: uppercase;
        font-size: 66px;
        text-align: center;
        font-family: $accent-font-family;
        font-weight: 600;
        @include min-desktop {
            height: 800px;
        }
        h1:nth-child(1) {
            display: none;
            @include min-desktop {
                display: block;
            }
        }
        h1:nth-child(2) {
            width: 100%;
            font-size: 2.5rem;
            @include min-desktop {
                display: none;
            }
        }
    }
    .home-hero-p {
        display: none;
        font-size: 16px;
        font-family: roboto;
        font-weight: 600;
        border-radius: 5px;
        border: 2px solid white;
        margin: 15px auto;
        width: 457px;
        @include min-desktop {
            display: block;
        }
    }
    //testimonial styles ====================
    .testimonial-wrapper {
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        margin-bottom: 2%;
        margin: 0 auto;
        max-width: 345px;
    }
    .testimonial {
        width: 345px;
        height: 209px;
        background-color: #f8f8f8;
        color: $main-body-color;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        margin: 25px auto;
        margin-top: 5%;
        font-family: $main-font-family;
        p {
            margin-top: 12px;
            padding-left: 1%;
        }
    }
    .student-name {
        font-family: $main-font-family;
        opacity: 0.33;
        padding: 2.5%; 
        margin: 139px auto;
        position: absolute;
        width: 345px;
        height: 70px;
        background-color: #d8d8d8;
        align-self: flex-end;
        border-radius: 6px;
        color: $testimonial-name-color;
    
}

//video styles ========================
#video {
    display: none;
    z-index: 300000;
    position: absolute;
    top: 210px;
    height: 55%;
    width: 80%;
    right: 50px;
    @include min-desktop {
        display: none;
        height: 70%;
        width: 80%;
        top: 200px;
        right: 8%;
        position: absolute;
        z-index: 30000;
    }
}

