.page-template-page-get-involved {
    h1 {
        display:none;
    }

      h3 {
        font-family:$accent-font-family;
        color:$h4-color;
        font-size: $h4-font-size;
        font-weight: 300;
        font-size: 36px;
        border-bottom: 1px solid $border-bottom-color;
        width:270px;
        margin: 50px auto;
    }
    
    .involved-info {
        margin: 0 auto;
        text-align:center;
    }

    p {
          font-size: 16px;
        max-width: 60%;
        color:$main-body-color;
        margin: 0 auto;
        padding-bottom: 2%;
        font-family:$main-font-family;
        text-align: center;
    }
}

.studentbtn {
width: 345px;
height: 143px;
background-color:$theme-blue-color;
border-radius: 6px;
font-size: 18px;
font-weight: lighter;
text-align: center;
line-height: 22px;
color: #FFFFFF ;
font-family: $accent-font-family;
text-shadow: none;
text-align:right;
text-transform: uppercase;
box-shadow: none;
border: 3px solid $btn-border-color;
margin: 5%;
    a{
        color: #FFFFFF ;
        text-decoration: none;
        text-transform: uppercase;
}

p{
    color: #fff;
    margin-top: -11%;
    margin-left: 39%;
    text-transform: lowercase;
    text-align: left;
    font-size: 14px;
}

  &:hover{
    
       background-color: darken($theme-blue-color, 10%);

   }
}

.expertbtn {
width: 345px;
height: 143px;
background-color: $theme-peach-color;
border-radius: 6px;
font-size: 18px;
font-weight: lighter;
text-align: center;
line-height: 22px;
color: #FFFFFF ;
font-family: $accent-font-family;
text-shadow: none;
text-align:right;
text-transform: uppercase;
box-shadow: none;
border: 3px solid $btn-border-color;
margin: 5%;
    a{
        color: #FFFFFF ;
        text-decoration: none;
        text-transform: uppercase;
}

p{
    color: #fff;
    margin-top: -11%;
    margin-left: 39%;
    text-transform: lowercase;
    text-align: left;
    font-size: 14px;
}

  &:hover{
       background-color: darken($theme-peach-color, 10%);

   }
}

.supportbtn {
width: 345px;
height: 143px;
background-color: $theme-orange-color;
border-radius: 6px;
font-size: 18px;
font-weight: lighter;
text-align: center;
line-height: 22px;
color: #FFFFFF ;
font-family: $accent-font-family;
text-shadow: none;
text-align:right;
text-transform: uppercase;
box-shadow: none;
border: 3px solid $btn-border-color;
margin: 5%;
    a{
        color: #FFFFFF ;
        text-decoration: none;
        text-transform: uppercase;
}

p{
    color: #fff;
    margin-top: -11%;
    margin-left: 39%;
    text-transform: lowercase;
    text-align: left;
    font-size: 14px;
}

  &:hover{
       
       background-color: darken($theme-orange-color, 10%);

   }
}

h5{
    margin-left: 38%;
    font-weight: 200;
    text-align:left;
    font-size: 24px;
}

.btn-wrapper {

    display: flex;
    align-items: center;
    flex-direction: column;

    @include desktop {
    display: flex;
    flex-direction: row;
    }
}