.page-template-page-get-involved {


    .get-involved-title {
       display: flex;
       width: 100%;
       max-width:1250px;
       justify-content: center;
       margin-bottom: 16px;
       @include min-desktop {
          margin: 0 auto;
          margin-bottom: 5rem;
       }
       .involved-info {
          margin-top: 2rem;
       }
       h3{
           border-bottom: 1px solid $border-bottom-color;
           font-size:2.7rem;
           color: $h4-color;
           font-family: $accent-font-family;
           font-weight: 100;
           margin:0;

       }
       p {
           text-align:center;
           font-size: 1rem;
           color: $main-body-color;
           font-family: $main-font-family;
           font-weight: lighter;
       }

    }
    
    .btn-wrapper {
      display: flex;
      flex-direction: column;
      margin: 0 1rem 5rem 1rem;
      @include min-desktop {
          flex-direction:row;
          width:100%;
          max-width:1250px;
          justify-content: center;
          margin: 0 auto;
          margin-bottom: 5rem;
      }
    .studentbtn {
      border: 3px solid $btn-border-color;
      height:150px;
      border-radius: .5rem;
      margin-bottom: 2rem;
      display:flex;
      justify-content: flex-end;
      background-color:$theme-blue-color;


      &:hover {
         background-color: darken($theme-blue-color, 10%)
      }
      @include min-desktop {
          flex-basis:33%;
          margin-left:2rem;
          margin-right:2rem;
      }
        a{
            width:70%;
            text-align: right;
            text-decoration:none;
            margin-right:1rem;
            color:white;
            .words-container {
                text-align: left;
                h5 {
                    text-transform: uppercase;
                    display:flex;
                    justify-content: space-between;
                    font-size: 1.3rem;
                    font-weight: 100;
                    margin-bottom:0;
                    font-family: $accent-font-family;
                    font-weight:medium;
                 }
            p {
                margin-top:0;
                font-family: $accent-font-family;
                font-weight:normal;
                font-style:normal;
                font-size:14px;
              }
            }
        }
    }
    .expertbtn {
        @extend .studentbtn;
        background-color: $theme-peach-color;
        &:hover {
        background-color: darken($theme-peach-color, 10%);
    }

    }
    .supportbtn {
       @extend .studentbtn;
        background-color: $theme-orange-color;
        &:hover {
        background-color: darken($theme-orange-color, 10%);
      }
    }
  }
  h1 {
      display:none;
  }
}