.page-id-177 {
     background-color: rgba(242, 242, 242, .5);

     h1 {
         font-family:$accent-font-family;
        color:$h4-color;
        font-size: $h4-font-size;
        font-weight: 300;
        font-size: 36px;
        border-bottom: 1px solid $border-bottom-color;
        width:470px;
        margin: 50px auto;
        text-align:center;
     }


     //============================progress bar styles=============================
.progress-bar, .progress-bar2, .progress-bar3 {
    width: 350px;
    margin:0 auto;
    height:100%
}
.progress-bar2 {
    display:none;

}

.progress-bar3 {
    display:none;

}

      

 


//=============================textarea styles================================
.page-id-177 {
    .gform_page_fields { 
        h2 {
            color:$main-body-color;
            text-transform: uppercase;
        }
        li {
            border-bottom: none;
            margin-left:2rem!important;
            label {
                color:$theme-peach-color;
                font-family:$main-font-family;
            }
         }
          .ginput_container input{
              width:80%;
          }
        }
    tbody {
        tr {
            width:80%;
            td {
                color: $theme-peach-color;
            }
          } 
      }
      
}
.gfrom_page_footer, input[type=button]{
width: 77%!important;
margin-left: 2rem!important;
text-align: center;
height: 49px;
background-color: $theme-blue-color;
border-radius: 6px;
font-size: 18px;
font-weight: lighter;
text-align: center;
line-height: 22px;
color: #FFFFFF ;
font-family: $accent-font-family;
text-shadow: none;
text-transform: uppercase;
box-shadow: none;
border: 3px solid $btn-border-color;



   &:hover{
       border-color:$btn-border-color;
       box-shadow:none;
       background-color: darken($theme-blue-color, 10%);
   }
}

}

