.page-id-177 {
     background-color: rgba(242, 242, 242, .5);

     h1 {
         display:none;
     }

     .gform_heading {
          
     
     
     .gform_title {
        font-family:$accent-font-family;
        color:$h4-color;
        font-size: $h4-font-size;
        font-weight: 300;
        font-size: 36px;
        border-bottom: 1px solid $border-bottom-color;
        width:470px;
        margin: 50px auto;
        text-align:center;
     }
     }

     //============================progress bar styles=============================

.gform_wrapper .percentbar_blue {
    background-color: $theme-orange-color;
    color: #FFF;
}
.gf_progressbar_percentage {
    height: 50px;
    text-align: right;
    font-family: helvetica,arial,sans-serif;
    font-size: .813em!important;
    z-index: 999;
    vertical-align: middle;
    border-radius: 20px 4px 4px 20px;
}
     

 .gf_progressbar {
 width:300px
 }

 #gf_progressbar_wrapper_1{
      
    width: 300px;
}
 


//=============================textarea styles================================










}