.home-hero, .program-hero, .expert-hero,  .press-hero{

h1 {
    color: #fff;
    display: block;
    text-transform: uppercase;
    font-size: 4.1rem;
    text-align: center;
    font-family: $accent-font-family;
    font-weight: 600;
    margin: 0 auto;

 }
}
.supporters-hero, .expert-hero h1{
    font-size:38px;
    padding:0;

    @include min-desktop{
        font-size:4.1rem;
    }
}

.press-hero, .about-hero, .supporters-hero, .expert-hero, .program-hero{
    text-align: center;
    padding-top: 15%;
    font-family:$accent-font-family;
    color: white;
    text-transform: uppercase;
   

    h1 {
        font-size: 3.7rem;

        @include desktop{
            
                font-size:5rem;
                margin-top:5%;
            }
        }
    }

    .supporters-hero h1{
        font-size:2rem;

        @include desktop {
            font-size: 4rem;
            margin-top: -2%;
        }

    }
 

// white blob

   .white-blob {

        background-image: url(../../images/white-blob-separator.svg);
        height: 100px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        bottom: -157px;
        position: absolute;
}

        @include min-desktop {
        background-size: cover;
        bottom: -139px; 
        }

.page-template-page-about, 
.page-template-page-program, 
.blog,
.error404,
.page-template-page-thankyou,
.page-template-page-supporters
{
    .white-blob {
        bottom:-54px;
    }
}

.page-template-page-expert{
    .white-blob {
        bottom: -58px;
    }
}