.home-hero, .program-hero, .expert-hero, .supporters-hero, .about-hero .press-hero{

h1 {
    color: #fff;
    display: block;
    text-transform: uppercase;
    font-size: 4.1rem;
    text-align: center;
    font-family: $accent-font-family;
    font-weight: 600;
    margin: 0 auto;
    // width: 70%;
    padding-top: 5rem;
 }
}
.supporters-hero, .expert-hero h1{
    font-size:38px;
    padding:0;

    @include min-desktop{
        font-size:4.1rem;
    }
}

.press-hero {
    text-align: center;
    padding-top: 15%;
    font-family:$accent-font-family;
    color: white;
    text-transform: uppercase;
    font-size: 3.7rem;

    h1 {
        font-size: 5rem;
    }
 
}