.home-hero, .program-hero, .expert-hero,  .press-hero{

h1 {
    color: #fff;
    display: block;
    text-transform: uppercase;
    font-size: 4.1rem;
    text-align: center;
    font-family: $accent-font-family;
    font-weight: 600;
    margin: 0 auto;

 }
}
.supporters-hero, .expert-hero h1{
    font-size:38px;
    padding:0;

    @include min-desktop{
        font-size:4.1rem;
    }
}

.press-hero, .about-hero, .supporters-hero{
    text-align: center;
    padding-top: 15%;
    font-family:$accent-font-family;
    color: white;
    text-transform: uppercase;
   

    h1 {
        font-size: 3.7rem;

        @include desktop{
            
                font-size:5rem;
            }
        }
    }

    .supporters-hero h1{
        font-size:2rem;

        @include desktop {
            font-size: 5rem;
        }

    }
 
