.page-id-161 , .page-id-168{
 background-color: $testimonial-bg-lightgrey;

 h3 {
     display:none;
 }


    .entry-title {
       text-align:center;
       border-bottom: 1px solid $border-bottom-color;
       width: 400px;
        font-family:$accent-font-family;
        color:$h4-color;
        font-size: 36px;
        margin: 0 auto;
        font-weight: 300;
       

    }

    .nf-form-wrap {
    width:300px;
    margin: 0 auto;
}
 

    .wpcf7-form{
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    .wpcf7-text {
        width:100%;
    }

    p , .nf-form-content{
    color: $theme-orange-color;
    font-family:$accent-font-family;
    font-weight: 300;
    font-size: 14px;
    }

    textarea {
        border-radius: 10px;
        background-color: rgba(255,255,255,0.75);
    }

    .wpcf7-submit {
width: 300px;
height: 54.25px;
background-color: $theme-blue-color;
border-radius: 6px;
font-size: 18px;
font-weight: lighter;
text-align: center;
line-height: 22px;
color: #FFFFFF ;
font-family: $accent-font-family;
text-shadow: none;
text-transform: uppercase;
box-shadow: none;
border: 3px solid $btn-border-color;


   &:hover{
       border-color:$btn-border-color;
       box-shadow:none;
      background-color: darken($theme-blue-color, 10%);
   }
    }

    }

       p {
        font-size: 16px;
        max-width: 54%;
        color:$main-body-color;
        margin: 0 auto;
        padding-bottom: 2%;
    }

}

