.home {
    .nav-bar {
        display: flex;
        justify-content: space-between;
        margin-bottom:5rem;
        background-color:$btn-border-color;
        button{
            height:5rem;
            width:5rem;
            border:none;
            background-color: transparent;
            box-shadow:none;

            i{
                font-size:3rem;
                color:$hero-font-color;
            }
        }
        img {
            height:5rem;
            width:5rem;
         }
        }
    }