/*.single-post {

img {
    padding-left: 5%;
}
   
    .entry-title {
        font-family:$accent-font-family;
        text-transform: uppercase;
        padding: 0 5% 0 5%;
        font-weight: 300;
        color: $testimonial-name-color;

    }

    .entry-meta {
        display:flex;
        justify-content:space-around;
        align-items:center;

        h4 {
        color:$theme-orange-color;
        }
    }
    
    .entry-date {
        top:0;
        margin-left: 0;
        color: $theme-orange-color;

    }
    .entry-content {
        padding: 0 5% 0 5%;
        font-size: 14px;
        font-family: $main-font-family;
        color: $main-body-color;

        h4 {
            font-weight: 600;
        }

        a {
            text-decoration: none;
            color:$main-body-color;

        }
    }

}*/