.single {
    background-color:hsla(0,0%,95%,.5);

    .backbtn {
        margin-left: 0%;
    }

    .nav-bar {
        position:absolute;
        width:100%;
        background-color:$btn-border-color;
        top:0;

        @include min-desktop {
            background-color:transparent;
        }
    }

 
    .logo { 
        height: 100px;
    }
    img {
        border-radius: 50%;

        @include desktop {
            margin:2%;
        }
    }
}

.single-people-container {
    text-align: center;
    display:flex;
    flex-direction:column;
    margin-top: 2rem;
    margin-bottom: 2rem;
    .single-people-thumb {
        width:70%;
        margin: 145px auto;
        font-family: $main-font-family;
         font-size: 1rem;
         @include desktop {
         background-color: white;
         }

         p {
             @include desktop {
                 margin: 6%;
             }
         }
         

         @include desktop {
            border: 1px solid $border-bottom-color;
            background-color: #F9F9F9;
            box-shadow: 0 0 3px 0 rgba(0,0,0,0.25);
            border-radius: 6px;
            text-align:left;
            width:500px
         }
    }
       
        .single-people-title {
            font-family: $accent-font-family;
            font-size: 14px;
            font-weight: 100;
            color:$testimonial-name-color;

            @include desktop {
                margin-left:8%;
            }
       
    }

 
        p.people-position{
            font-family: $accent-font-family;
            font-size: 12px;
            font-weight: 100;
            color: $testimonial-name-color;

            @include desktop {
                margin-left:9%;
            }
        
        }
    // .single-people-description {
    //     text-align: center;
        
    //     p{
    //     font-family:$main-font-family;

        
    // }
    // }
}
.people-type-header {
    h1 {
        font-family: $accent-font-family;
    }
}