  .page-template-page-student {  
      color:$main-body-color;
      text-align:center;
       background-color:  $testimonial-bg-lightgrey;
       width: 100%;
    img {
        height: 250px;
    }

      .site-main{

    h2 {
        font-family:$accent-font-family;
        color:$theme-orange-color;
        text-transform:uppercase;
        font-weight: 300;
        font-size: 24px;
        text-align: center;
    }

    h3 {
        font-family:$accent-font-family;
        color:$h4-color;
        font-size: $h4-font-size;
        font-weight: 300;
        font-size: 24px;
    }
    
    h5 {
        font-family:$accent-font-family;
        color:$h4-color;
        font-size: 14px;
        font-size: $h4-font-size;
        font-weight: 300;
        text-transform: uppercase;
    }

    p {
        font-size: 16px;
        max-width: 50%;
        color:$main-body-color;
        margin: 0 auto;
        padding-bottom: 2%;
        font-family:$main-font-family;
        text-align: left;
    }
  }

  .what-yell {
      p {
          font-size: 14px;
          text-align:center;
      }
  }

  .register-blurb 
    p{
      font-size: 14px;
  }

  .pglabel
     h3 {
      text-transform: uppercase;
      font-family:$accent-font-family;
      font-weight: 300;
      margin-bottom: 10%;

  }
  }