  .page-template-page-student,
  .page-template-page-expert,
  .page-template-page-program {
      background-color: rgba(242, 242, 242, 1.0);
      h1 {
          display: none;
      }
      .homepg-bg1 {
          background-color:white;
          background-size: 100% 850px;
      }
      .homepg-bg3 {
          background-size: 100% 850px;
          background-position-y: 100%;

      }
      color:$main-body-color;
      text-align:center;
      background-color : white;
      width: 100%;
      img {
          height: 175px;
        @include desktop{
          height: 200px;
        }
      }
      .site-main  {
          h2 {
              font-family: $accent-font-family;
              color: $theme-orange-color;
              font-weight: 300;
              font-size: 24px;
              text-align: center;
              text-transform:capitalize;
              @include min-desktop {
                  width: 100%;
                  text-align:center;
                  
              }
          }
          h3 {
              font-family: $accent-font-family;
              color: $h4-color;
              font-size: $h4-font-size;
              font-weight: 300;
              font-size: 24px;
              border-bottom: 1px solid $border-bottom-color;
              width: 360px;
              margin: 22px auto;
          }
          h5 {
              font-family: $accent-font-family;
              color: $h4-color;
              font-size: 14px;
              font-size: $h4-font-size;
              font-weight: 300;
              text-transform: uppercase;
          }
          p {
              font-size: 16px;
              max-width: 60%;
              color: $main-body-color;
              margin: 0 auto;
              padding-bottom: 2%;
              font-family: $main-font-family;
              text-align: center;
          }
      }
      .what-yell {
              margin-bottom: 10rem;
          p {
              font-size: 14px;
              text-align: center;
              max-width: 100%;
            
          }
          h2 {
              font-size:3rem;
          }
          p:first-child {
              @include desktop {
                  width: 800px;
                  text-align: center;
                  margin: 0 auto;
              }
          }
          img {
              width: 440px;
              height:270px;
          }
      }
      .register-blurb p {
          font-size: 14px;
          text-align: center;
          margin-top: 5%;
      }
      .pglabel h3 {
          text-transform: uppercase;
          font-family: $accent-font-family;
          font-weight: 300;
          margin-bottom: 10%;
      }
  }
  
  .yell-at,
  .back-home {
      width: 270px;
      height: 49px;
      background-color: $theme-blue-color;
      border-radius: 6px;
      font-size: 18px;
      font-weight: lighter;
      text-align: center;
      line-height: 22px;
      color: #FFFFFF;
      font-family: $accent-font-family;
      text-shadow: none;
      text-transform: uppercase;
      box-shadow: none;
      border: 3px solid $btn-border-color;
      margin: 6%;

      &:hover {
          border-color: $btn-border-color;
          box-shadow: none;
          background-color: darken($theme-blue-color, 10%);
      }
  }
  
  // .white-blob img{
  //     height:auto;
  // }

   .page-template-page-program .get-involved {
      width: 270px;
      height: 49px;
      background-color: $theme-orange-color;
      border-radius: 6px;
      font-size: 18px;
      font-weight: lighter;
      text-align: center;
      line-height: 22px;
      color: #FFFFFF;
      font-family: $accent-font-family;
      text-shadow: none;
      text-transform: uppercase;
      box-shadow: none;
      margin:10%!important;
      border: 3px solid $btn-border-color;
      &:hover {
          border-color: $btn-border-color;
          box-shadow: none;
          background-color: darken($theme-orange-color, 10%);
      }
  }
  
  .page-template-page-program {
      .testimonial {
          p {
              text-align: left;
              margin-top: -91px;
              max-width: 100%;
              margin-left: 7%;
            }
          }
      }
  
  
  .charts {
        background-image: url(../../images/blue-splash.png);
        background-repeat: no-repeat;
        background-size: 100% 700px;
        background-position-y: 10%;
    
  }
  
  #dynamic_select {
      background-color: white;
      width: 305px;
      margin: 10% auto;
      color: $theme-orange-color;
      height: 45px;
      border: 1px solid $btn-border-color;
      border-radius: 5px;
      font-family: $accent-font-family;
  }
  
  .timeline {
      img {
          height: 300px;
      }
  }
  .program-timeline {
        background-image: url(../../images/orange-splash.png);
        background-repeat: no-repeat;
        background-size: 100% 400px;
        background-position-y: 10%;

      img {
          height:300px;
      }
  }
  .page-id-168{
   .entry-content {

        p{
    font-family: $accent-font-family;
        }
    }
  }
  .page-template-page-program .expert-wrapper {
        background-image: url(../../images/orange-splash.png);
        background-repeat: no-repeat;
        background-size: 100% 800px;
        background-position-y: 10%;
  }

  @include min-desktop {
          .charts-container {
            display:flex;
            justify-content: space-around;
            margin: 0 10%;
            .chart-left img{
                height:350px;
            }
            .chart-right {
                display:flex;
                img{
                    align-self:center;

                }
            }
        }
  }
   .post-21{
     h2 {
       font-size:3rem;
   }
   }
   .yell-program {
       margin: 0 15%;
   }