// Structure

$base__space-unit: 1.5em;

// Colors

$color__background-body: #fff;
$color__text-main: #404040;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;

// Typography

$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

//======================================================

// YELL font colours

$hero-font-color: #ffffff;
$h2-orange-color: #E48C3D;
$h3-grey-color: rgba(74,74,74,0.85);
$h3-darkgrey-color: #4A4A4A;
$h4-color: #6D6D6D;
$main-body-color: #9B9B9B;
$testimonial-name-color: #4A4A4A;

//button accent colours
$btn-font-color: #ffffff;
$btn-border-color: #E8E8E8;

//Yell Main Theme Colors
$theme-blue-color: #8DC0D0;
$theme-orange-color: #E48C3D;
$theme-peach-color: #F4B473;
$theme-darkblue-color: #84A4B3;
$theme-lightblue-color: #CEE0EC;

//Background colors for testimonials/bios

$testimonial-bg-lightgrey: #F9f9f9;
$testimonial-bg-grey: #f1f1f1;

//body background-colors
$header-bg-grey: #D8D8D8;
$footer-bg-grey: #e2e2e2;

//Read more font link colors 
$rdmore-blue: #83A3B3;
$link-to-top-grey: rgba(155,155,155,0.52);

//Font sizes 

$hero-font-size: 44px;
$h2-font-size: 36px;
$body-font-size: 16px;
$btn-font-size: 18px;
$skinny-font-weight: 300;
$link-font-size: 14px;
$h4-font-size: 14px;
$tiny-body-font: 10px;

// YELL font families

$main-font-family: "Roboto", sans;
$accent-font-family: "Rubik", sans;


